idea/
/node_modules
Homestead.yaml
Homestead.json
.env
_ide_helper.php
.DS_Store
*.swp
*.un~
.phpstorm.meta.php
_ide_helper_models.php
Session.vim
*.orig
/public/generated
/public/passengers
/public/apps
/vendor
/coverage
storage/debugbar/
.vscode/
/storage/naja/logs
~
/extra

